:root {
  --grid {
    display: flex;
    flex-wrap: wrap;
  }
  --cell {
    box-sizing: border-box;
    flex-shrink: 0;
  }
}

.Grid            { @apply --grid; }
.Grid.\-top      { align-items: flex-start; }
.Grid.\-middle   { align-items: center; }
.Grid.\-bottom   { align-items: flex-end; }
.Grid.\-stretch  { align-items: stretch; }
.Grid.\-baseline { align-items: baseline; }
.Grid.\-left     { justify-content: flex-start; }
.Grid.\-center   { justify-content: center; }
.Grid.\-right    { justify-content: flex-end; }
.Grid.\-between  { justify-content: space-between; }
.Grid.\-around   { justify-content: space-around; }

.Cell            { @apply --cell; }
.Cell.\-fill     { width: 0; min-width: 0; flex-grow: 1; }

@for $i from 1 to 11 {
  .Cell.\-$(i)of12 { width: calc(100% * $i / 12); }
}

.Cell.\-12of12   { width: 100%; }
